{% extends 'idl.html'%}
{% block head%}

{% endblock head%}
{%block body %}

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/goods/typelist/9/1/" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/typelist/10/1/" class="seafood">海鲜水产</a></li>
					<li><a href="/goods/typelist/11/1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/goods/typelist/12/1/" class="egg">禽类蛋品</a></li>
					<li><a href="/goods/typelist/13/1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goods/typelist/14/1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

	<div class="main_wrap clearfix">

		<div class="r_wrap fr clearfix">
			<div class="sort_bar"></div>
            <ul class="goods_type_list clearfix">

               {% if query %}
                <h3>搜索结果如下：</h3>
                    {% for result in page.object_list %}
                        <li>
                        <a href="{%url 'goods:detail' result.object.id %}"><img src="/static/{{ result.object.gimage }}"></a>
                        <h4><a href="%}"> {{ result.object.gtitle }}</a></h4>
                        <div class="operate">
                            <span class="prize">{{ result.object.gtitle }}</span>
                            <span class="unit">{{ result.object.gprice}}/{{result.object.gunit}}</span>
                            <a href="#" class="add_goods" title="加入购物车"></a>
                        </div>
                       </li>
                    {% empty %}
                        <p>啥也没找到!!!</p>
                    {% endfor %}
                {% endif %}
			</ul>

		</div>
	</div>
{% endblock body%}
	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

</body>
</html>
