{% extends 'idl.html'%}
{% block head%}
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
{#		var $add_x = $('#add_cart').offset().top;#}
{#		var $add_y = $('#add_cart').offset().left;#}
{##}
{#		var $to_x = $('#show_count').offset().top;#}
{#		var $to_y = $('#show_count').offset().left;#}
{#		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})#}
{#        $(".add_cart").click(function(){#}
{#            if($('.login_btn').text().indexOf('denglu')>=0){#}
{#                alert('please login')#}
{#                location.href='/user/login/';#}
{#                return#}
{#            }#}

{#			$(".add_jump").stop().animate({#}
{#				'left': $to_y+7,#}
{#				'top': $to_x+7},#}
{#				"fast", function() {#}
{#					$(".add_jump").fadeOut('fast',function(){#}
{#						$('#show_count').html(2);#}
{#					});#}
{#			});#}
{#            num = parseInt($('.num_show').val());#}
{#            $.get('/cart/add{{ g.id }}_'+num+'/',function(data){#}
{#                $('#show_count').text(data.count)#}
{#            });#}
{#        })#}


        var totalPrice;

        function add(){
            var gcount = document.getElementById('gcount')
            gcount.value = parseInt(gcount.value)+1;
            totalPrice = gcount.value*{{ goodsinfo.gprice }};
            totalprice.innerHTML=totalPrice;
        }
        function sub(){
            var gcount = document.getElementById('gcount')
            gcount.value = parseInt(gcount.value)-1;
            if(gcount.value<=1){
                gcount.value=1
                totalPrice = {{ goodsinfo.gprice }}
            }else{
                gcount-1;
            }
            totalPrice = gcount.value*{{ goodsinfo.gprice }};
            totalprice.innerHTML=totalPrice;
        }

	</script>
{% endblock head%}
{%block body %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/goods/typelist/9/1/" class="fruit">新鲜水果</a></li>
					<li><a href="/goods/typelist/10/1/" class="seafood">海鲜水产</a></li>
					<li><a href="/goods/typelist/11/1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/goods/typelist/12/1/" class="egg">禽类蛋品</a></li>
					<li><a href="/goods/typelist/13/1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goods/typelist/14/1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/goods/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="/goods/list/1/1/">全部生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span></span>
		<a href="#">商品详情</a>
	</div>
    <form action="" method ="post">
        {% csrf_token %}
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goodsinfo.gimage }}" width="350" height="350sss"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goodsinfo.gtitle }}</h3>
			<p>{{ goodsinfo.gdigest }}</p>
			<div class="prize_bar">
				<span class="show_pirze" id="gprice">¥<em>{{ goodsinfo.gprice }}</em></span>
				<span class="show_unit">单  位：{{ goodsinfo.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl" >数 量：</div>
				<div >
                    <input type="hidden" id="gid" value="{{ goodsinfo.id }}">
                    <input type="button" id="btn1" value="-" onclick="sub()">
                    <input type="text" name="val" value="1" id="gcount">
                    <input type="button" id="btn2" value="+" onclick="add()">
				</div>
			</div>
			<div class="total">总价：<span id="totalprice"> </span></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a  onclick="Hot()" class="add_cart" id="add_cart">加入购物车</a>
                	</div>
		</div>
	</div>
    </form>
<script type="text/javascript">
<!--当点击加入购物车的时候触发此函数-->
function Hot(){
   var  gid = $('#gid').val()
   var  gcount = $('#gcount').val()
   $.post("/cart/gwc/",
        {
          gid:gid,
          gcount:gcount
        },
        function(data){
            alert(data)
        });
}
</script>
	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<th3>新品推荐</th3>
				<ul>
					<li>
						<a href="#"><img src="/static/{{ goodsinfo.gimage }}"></a>
						<h4><a href="#">{{ goodsinfo.gtitle }}</a></h4>
						<div class="prize">￥{{ goodsinfo.gprice }}</div>
					</li>
					<li>
						<a href="#"><img src="/static/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goodsinfo.ginfo }}</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock body%}
